{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
	Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<meta name="description" content="" />
	<meta name="author" content="George Dietz" />
	<!--<meta name="viewport" content="width=device-width; initial-scale=1.0" /> -->
	<title>NCI</title>


  	
	<!-- DataTables CSS -->
	<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
	<!-- jQuery -->
	<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
	<!-- DataTables -->
	<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
  	
  	<!-- I should get the minified versions of these from google probably -->
	<!--<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/smoothness/jquery-ui.css" /> -->
	<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/pepper-grinder/jquery-ui.css" />
  	<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
  	
  	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  	
  	<link rel="stylesheet" href="{% static "home.css" %}" />

</head>

<body>

<div class="container">
	<div class="page-header">
        <h1>NCI</h1>
        <p class="lead">Please select a date range and press 'Go'.</p>
    </div>
    
<label for="from">From</label>
<input type="text" id="from" name="from" />
<label for="to">to</label>
<input type="text" id="to" name="to" />
<button id="go_btn">Go</button>

<table id="main_table">
    <thead>
        <tr>
        	<th>Pub. Date</th>
            <th>PMID</th>
            <th>First Author</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        	<td>Let me see your identification.</td>
			<td>You don't need to see his identification.</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>We don't need to see his identification.</td>
			<td>These aren't the droids you're looking for.</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>These aren't the droids we're looking for.</td>
			<td>He can go about his business.</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>You can go about your business.</td>
			<td>Move along.</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Move along... move along.</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>  
    </tbody>
</table>
    
    
    
<br />
<br />
    
<div class="btn-group">
	<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
		Export PMIDs <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a href="#" id="export_csv">as Comma Separated Values (*.csv)</a></li>
		<li><a href="#" id="export_txt">as text (*.txt)</a></li>
		<!-- <li><a href="#" id="export_xlsx">as excel (*.xlsx)</a></li> -->
	</ul>
</div>
    
</div> <!-- /.container -->

<div class="modal"></div>



<script src="{% static "motor.js" %}"></script>
<script src="{% static "jquery.generateFile.js" %}></script>
</body>
</html>
